<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm currently a PhD student and the University of Minnesota College of Computer Science and Engineering. I obtained my Undergraduate degree in 
        Computer Science at Carleton College in 2015 and started studying at the University of Minnesota in the fall of 2022.</p>
      </div>
      <div class="col-lg-4">
        <p>My current research interests are Natural Language Processing and Geo AI. Please feel free to reach out if you'd like to chat! </p>
      </div>
    </div>
  </div>
</section>
